body{
	padding-top:70px;
	background:lightyellow;
}

footer{
	margin:3em 0;
	background:pink;
	padding:2em;
}

.jumbotron{
	background:#f2ccff;
}

.sidebar-module{
	margin-bottom:3em;
	background:lightgreen;
	padding:1em;
	border-radius:20px;
	font-size:1.2em;
}

.navbar{
	background:#b3ffb3;
	border-left:1em solid #ff99bb;
}

.navbar-default .navbar-nav>.active>a{
	background:#ff99bb;
}

.navbar-default .navbar-nav>.active>a:hover{
	background:#ffcccc;
}

.jigsaw_panel_ {
	margin: auto;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  color:#730099;
  background:#f2ccff;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
  border-left: 1em solid #ff99bb;
  padding:0.5em 1em;
  background:#b3ffb3;
  border-radius:0 0 0 50px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.pro{
	border-radius: 20px;
	margin-bottom: 1em;
}
